@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;900&display=swap');


*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   
}

body{
    background-color: hsl(229, 57%, 11%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway';
    background: url('/images/bg-desktop.png') no-repeat;
    background-size: contain;
    background-position: bottom;
    background-color:  hsl(229, 57%, 11%);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo{
    height: 175px;
    width: 325px;
    background-color: hsl(228, 56%, 26%);
    margin: 20px;
    border-radius: 10px;
    border-top-right-radius: 100px;
    padding: 30px;
    padding-left: 40px;
}

.status{
    margin: 10px;
    width: 550px;
    height: 130px;
    background-color: hsl(228, 56%, 26%);
    margin-top: 55px;
    border-radius: 10px;
    padding: 30px;
    padding-left: 40px;
}

.pic{
     width: 125px;
}

.options{
    padding-top: 20px;
}

button{
   width: 45px;
   height: 45px;
   margin: 5px;
   background-color: hsl(229, 57%, 11%);
   border: none;
   border-radius: 5px; 
   cursor: pointer;
}

.options img{
    width: 25px;
    height: 20px;
}

h3{
    color: hsla(243, 100%, 93%, 0.8);
    font-weight: 400;
    font-size: 14px;
}

h3 span{
    font-weight: 700;
    font-size: 16px;
}

.bar{
    margin-top: 2.5%;
    height: 25%;
    width: 95%;
    background-color: hsl(229, 57%, 11%);
    border-radius: 100px;
    display: grid;
    padding: 4px;
}

.fill{
    height: 100%;
    align-self: center;
    width: 100%;
    border-radius: 50px;
    background: linear-gradient(to right,hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}

.circle{
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    position: relative;
    left: 97.75%;
}

.cap{
    margin-top: 1%;
    color: white;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5% 0 0;
}

.rect{
    width: 100px;
    height: 33px;
    border-radius: 5px;
    background-color: white;
    float:right;
    position: relative;
    right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 700;
    font-size: 15px;
}

.notice{
    display: none;
}

@media (max-width:375px) {

    body{
        background: url('/images/bg-mobile.png') no-repeat;
        background-size: contain;
        background-position: bottom;
        background-color:  hsl(229, 57%, 11%); 
    }

    main{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }

    .status{
        margin-top: 0;
        width: 90%;
    }


}
